@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

/*--- Ayu --*/

.Title	{
	width: 90%;
	margin: 0 auto;
	padding-top: 2rem;
}

.Title hr	{
	border-top: 2px solid #b4b4b4;
	width: 90%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

.paragraph	{
	width: 90%;
	margin: 0 auto;
	padding-top: 1rem;
}

body{
    background-color: #e6ffff	;
	color: #051314;
}
.without {
	width: 90%;
	margin: 0 auto;	
}

/*---Izzati---*/
.skip {
	padding-top: 4rem;
}

h6 {text-align: center;}

ul.a {
  list-style-type: square;
}

ul.b {
  list-style-position: inside;
}

ul.c {
  list-style-type: circle;
}

h5 {text-align: center;}
.media a	{
	font-size: 2.5em;
	padding: 2rem; 
}
.fa-facebook	{
	color: #3b5998;
}
.fa-twitter	{
	color: #00aced;
}

.fa-instagram	{
	color: #517fa4;
}

.fa-facebook:hover, 
.fa-twitter:hover, 
.fa-instagram:hover, 
	{
	color: #d5d5d5;
}

.media {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

/*--- Izzati End --*/
/*--- Aida --*/
.space{
	padding-top: 2rem;
}
.welcome	{
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}
.card-body	{
	background-color: #5F9EA0;
	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.044),
  0 6.7px 5.3px rgba(0, 0, 0, 0.058),
  0 12.5px 10px rgba(0, 0, 0, 0.16),
  0 22.3px 17.9px rgba(0, 0, 0, 0.082),
  0 41.8px 33.4px rgba(0, 0, 0, 0.096),
  0 100px 80px rgba(0, 0, 0, 0.22)
;
}
.container-fluid-welcome	{
	background-color: #5F9EA0;
}
.padding-website {
	width:90%;
	margin: 0 auto;
}
.space-more{
	padding-top: 2.9rem;
}
/*--- Slides Main Page --*/
.carousel-inner img	{
	width: 100%;
	height: 90%;
}
/*--- Aida End--*/

/*--- Content Block --*/
.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.044),
  0 6.7px 5.3px rgba(0, 0, 0, 0.058),
  0 12.5px 10px rgba(0, 0, 0, 0.16),
  0 22.3px 17.9px rgba(0, 0, 0, 0.082),
  0 41.8px 33.4px rgba(0, 0, 0, 0.096),
  0 100px 80px rgba(0, 0, 0, 0.22)
;
 
  min-height: 200px;
  width: 75vw;
  margin:70px auto;
  background: rgb(255, 255, 255, 0.8);
  border-radius: 5px;
}



View Compiled

.navbar	{
	padding: .3rem;
}
.navbar-nav {
	padding-right: 20px;
}
.nav-link	{
	font-size: 1.0em !important;
}

.nav-item	{
	margin-right: 1rem;
}

.padding{
	padding-bottom: 2rem;
}

.fa-code	{
	color: #e54d26;
}
.fa-bold	{
	color: #563d7c;
}
.fa-css3	{
	color :#2163af;
}
.fa-code, .fa-bold, .fa-css3	{
	font-size: 4em;
	margin: 1rem;
}

.social a	{
	font-size: 2.5em;
	padding: 2rem; 
}
.fa-facebook	{
	color: #3b5998;
}
.fa-twitter	{
	color: #00aced;
}
.fa-google-plus-g	{
	color: #dd4b39;
}
.fa-instagram	{
	color: #517fa4;
}
.fa-envelope	{
	color: #B22222;
}
.fa-facebook:hover, 
.fa-twitter:hover, 
.fa-google-plus-g:hover, 
.fa-instagram:hover, 
.fa-envelope:hover	{
	color: #d5d5d5;
}
footer	{
	background-color: #3f3f3f;
	color: #d5d5d5;
}
hr.light 	{
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}
footer a	{
	color:	#d5d5d5;
}
hr.light-100	{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .2rem;
	margin-bottom: 1rem;
}



/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/blue2.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: .7rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
	.social a	{
		font-size: 4em;
	}
  }
  
@media (max-width: 576px) {
.carousel-indicators	{
	display: none;
}




